.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 860px;
  margin: 0 auto;

  .logo { display: block; width: 340px; }
  .logo img { display: block; }

  nav {
    display: flex;
    gap: 10px;
    font-weight: bold;
    color: var(--p2);

    a {
      border-radius: 6px;
      font-size: 13px;
      line-height: 18px;
      width: 64px;
      text-align: center;
      padding: 10px 0;
      position: relative;
      transition: background .2s, color .2s;
      background: rgba(255, 255, 255, 0.4);

      &:hover, &:focus {
        background: var(--p2);
        color: white;
      }

      &.tickets {
        background: linear-gradient(60deg, var(--p2) 0, var(--p3) 200%);
        color: white;
      }
    }

    svg.icon {
      display: block;
      margin: 0 auto;
      width: 26px;
      height: 26px;
      fill: currentColor;
    }
  }

  @media screen and (max-width: 749px) {
    display: block;
    .logo { width: 280px; margin: 0 auto 20px; }
    .logo img { width: 280px; height: 82px; }
    nav { justify-content: center; }
  }
}
