:root {
  --background: #ffffff;
  --foreground: #171717;
  --p1: #03BEED;
  --p2: #E60F29;
  --p3: #FFB700;
  --p4: #8ED927;
  --p5: #A74DF0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  font-size: 18px;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  background: linear-gradient(to bottom, color-mix(in srgb, var(--bg-gradient, var(--p1)), transparent) 0, transparent 500px);
  /* background-attachment: fixed; */
  font-family: var(--font-asap), Helvetica, sans-serif;
}

main {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner {
  text-align: center;
  background: var(--p3);
  color: black;
  padding: 2px;
}

.hero {
  max-width: 100%;
  border-radius: 12px;
}

.tile {
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

h1 { line-height: 1.2; font-size: 3rem; text-align: center; margin: 2rem 0 3rem; }
h2 { line-height: 1.2; font-size: 2rem; margin: 3rem 0 1.5rem; }
p { line-height: 1.6; margin: 0 0 .8rem 0; }
ul, ol { margin: 0 0 .8rem 2rem; }
li { margin: 0 0 .4rem 0; }

a {
  color: inherit;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
  > .grow { flex-grow: 1; width: 200px; }
  > div > *:first-child { margin-top: 0; }
  > div > *:last-child { margin-bottom: 0; }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }
} */
