.page {
  .hero {
    height: 300px;
    background: rgba(0,0,0,0.1);
  }

  h1 {
    text-align: center;
    color: transparent;
    font-size: 3rem;
    background-image: linear-gradient(26deg, rgb(41, 145, 255) 0%, rgb(49, 103, 240) 25%, rgb(67, 107, 208) 50%, rgb(149, 115, 255) 75%, rgb(159, 159, 255) 100%);
    background-clip: text;
    line-height: 0.9;
    margin-bottom: 2rem;
    span { font-size: 2rem; }
  }
}
